<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanke.springcloud.dao.DeptDao">
    <!--通过ID查询部门信息-->
    <select id="findById" resultType="Dept" parameterType="Long">
        select deptno,dname,db_source from dept where deptno=#{deptno};
    </select>

    <!--查询部门所有信息-->
    <select id="findAll" resultType="Dept">
        select deptno,dname,db_source from dept
    </select>

    <!--插入部门信息-->
    <insert id="addDept" parameterType="Dept">
        insert into dept(dname,db_source) values (#{dname},DATABASE());
    </insert>
</mapper>